@font-face{
    font-family: NewRailAlphabet;
    src:url('../assets/fonts/NewRailAlphabet-Light\ \(1\).otf')
}

h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}

body{
    font-family: NewRailAlphabet;
    font-weight: 300;
    width:100%;
    border:2px solid rgb(0, 255, 94);
    margin:0px auto;
    box-sizing: border-box;
}

:root{
    --xxxl:36px;
    --xxl:32px;
    --xl:30px;
    --l:24px;
    --m:20px;
    --sm:18px;
    --xs:16px;
    --xxs:14px;
    --xxxs:12px;

    --heading-color:#FFB545;
    --text-header-color:#322D2D;
    --text-color:#666666;
    --secondary:#ffffff;
}

button{
    border:none;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
    font-weight: 600;
    padding: 10px 22px;
    transform: 0.3s ease;
}
a{
    text-decoration: none;
    color:var(--secondary);
    background-color: inherit;
}
a:focus{
    outline-width: 0px;
    border:none
}

.container{
    width:100%;
    max-width:1360px;
    border:1px solid red;
    padding:1rem;
    margin:0rem auto 1rem;
    box-sizing: border-box;
    font-weight: 300 !important;
}


.primary-button{
    background: linear-gradient(92.57deg, #CAA648 -34.45%, #CAA648 -12.71%, #D5B147 4.32%, #E4C267 36.63%, #E2C065 85.1%, #DBB95E 102.87%, #D0AE52 114.18%, #C09F41 119.07%, #BB9A3C 127.1%);
    border-radius: 30px;
    padding: 12px 24px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    gap:2rem;
}
.primary-button-text{
   font-size: var(--m);
   color:#000000;
}
.button-arrow{
  width: 12px;
  height: 12px;
}



/* header start */
#strip{
    background:var(--text-header-color);
    padding: 16px;
    font-size:var(--xs);
    line-height:105%;
    text-transform: uppercase;
    color:var(--secondary);
    text-align: center;
}
#header-desktop{
    width: 100%;
    display:flex;
    gap:1rem;
    justify-content: space-between;
    align-items: center;
}
#logo{
   width: 170px;
   height: 30px;
}
#logo>img{
   width: 100%;
   height: 100%;
   object-fit: contain;
   cursor: pointer;
}
.header-links{
  display:flex;
  gap:1rem;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.header-link{
  color:var(--text-header-color);
  cursor: pointer;
  font-size:var(--sm);
  color:var(--text-header-color);
  line-height: 150%;
}
.header-link:hover{
    color:var(--heading-color);
    transform: 0.3s ease;
}
.link-title{
    display:flex;
    gap:0.4rem;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

#dropdown-wrapper{
  position:relative
}
.shop-dropdown{
    position: absolute;
    top:28px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(250, 250, 248, 1);
    border-radius: 6px;
    display: none;
    animation-duration:0.3s;
}


@keyframes fade-in {
    0%{
      top:20px
    }100%{
      top:28px
    }
}
@keyframes fade-out {
    0%{
      top:28px
    }100%{
      top:20px
    }
}
.dropdown-values{
    display:flex;
    gap:0.6rem;
    flex-direction: column;  
    padding:12px 18px;
}

.shop-dropdown a{
    border-bottom:1px solid var(--text-color);
    padding: 0px 12px 2px 0px;
}

.search-icon-container{
    display:flex;
    gap:1rem;
    justify-content: space-between;
    align-items: center;
}
.header-search-icon{
   width: 26px;
   height: 26px;
   object-fit: contain;
   cursor: pointer;
}
.search-container{
    width: 40%;
    display:none;
    border-radius: 24px;
    color:var(--text-header-color)
}
.search-container input[type="text"]{
    width: 100%;
    padding: 12px 12px;
    border-radius: 24px;
    background: #D9D9D9;
    border:none;
    color:#000;
    font-size: var(--xxs);
    line-height: 105%;
}

#header-mobile{
    display:none
}
.menu-modal{
    display: none;
}
.search-modal{
    display: none;
}

@media screen and (max-width: 1024px){
    #header-desktop{
        display:none
    }
    #header-mobile{
        width: 100%;
        display:flex;
        gap:1rem;
        justify-content: space-between;
        align-items: center;
    }
    .hamburger{
        height: 30px;
     }
     .hamburger>img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
     }
    .menu-modal{
        background-color: var(--secondary); 
        width: 100vw;
        height: calc(100vh - 52px);
        position: fixed;
        z-index: 2;
        top:54px;
        left:0;
        display:none;
        animation-duration: 0.3s;
    }
    @keyframes slide-in {
        0%{
            left:-20px;
        }100%{
            left:0px
        }
    }
    @keyframes slide-out {
        0%{
            left:0px;
        }100%{
            left:-20px
        }
    }
    .mobile-header-links{
        display:flex;
        flex-direction: column;
        gap:1rem;
        justify-content: start;
        align-items: start;
        width: 40%;
        padding: 2rem 1rem;
    }
    .menu-close{
        position: absolute;
        top:16px;
        right:16px;
        transform: rotate(45deg);
        cursor: pointer;
    }
    .search-modal{
        background-color: var(--secondary); 
        width: 100vw;
        height: calc(100vh - 52px);
        position: fixed;
        z-index: 2;
        top:54px;
        left:0;
        display:none;
        animation-duration: 0.3s;
    }
    .mobile-search-container{
        width: 100%;
        border-radius: 24px;
        color:var(--text-header-color);
        display:flex;
        gap:1rem;
        justify-content: space-between;
        padding: 16px;
        align-items: center;
        box-sizing: border-box;
    }
    .mobile-search-container input[type="text"]{
        width: 82%;
        padding: 12px 12px;
        border-radius: 24px;
        background: #D9D9D9;
        border:none;
        color:#000;
        font-size: var(--xxs);
        line-height: 105%;
    }
    .search-close{
        transform: rotate(45deg);
        cursor: pointer;
    }
}

/* header end */

/* hero banner start */
#hero-container-wrapper{
    margin-top: -1rem;
    width: 100%;
    padding: 2rem 0rem 1rem 0rem;
    background: linear-gradient(180deg, rgba(243, 243, 243, 0.75) 0%, rgba(184, 184, 184, 0.8) 59.38%, rgba(243, 243, 243, 0.25) 100%);
}
#hero-container{
  width:100%;
  display:flex;
  gap:1rem;
  justify-content: center;
  align-items: start;
}
#hero-content{
  width:50%;
}
#hero-rating-container{
  color:var(--secondary);
  border: 0.5px solid;
  border-color: linear-gradient(90.05deg, rgba(255, 255, 255, 0.5) 0.04%, rgba(252, 252, 252, 0.4) 102.54%);
  border-radius: 30px;
  padding: 8px;

  display:flex;
  gap:1rem;
  align-items: center;
  width: fit-content;
}
#hero-rating{
    display:flex;
    gap:1rem;
    align-items: center; 
    background-color: #ffffff;
    border-radius: 30px;
    padding: 8px 12px;
}
#hero-rating>img{
   width: 16px;
   height: 16px;
   object-fit: contain;
}
.hero-rating-description{
  font-size:var(--sm);
  line-height: 100%;
  color:var(--text-header-color);
}
.hero-content-header{
    font-size: 56px;
    line-height: 112%;
    letter-spacing: -1.3px;
    color:var(--text-header-color);
    margin-top: 1rem;
}
#hero-content-flex{
    width: 100%;
    display:flex;
    gap:1.2rem;
    justify-content: space-between;
    align-items: start;
    margin: 2rem 0rem;
}
.hero-flex{
   width: 33%;
}
.hero-text-header{
    background: linear-gradient(93.63deg, #CAA648 -0.61%, #CAA648 10.09%, #D5B147 25.19%, #E4C267 46.69%, #E2C065 78.94%, #DBB95E 90.77%, #D0AE52 98.29%, #C09F41 104.74%, #BB9A3C 106.89%);
    font-size: 72px;
    font-weight: 700;
    color: transparent;
    background-clip: text;
}
.hero-text-header>span{
    font-size: 25px;
}
.hero-text{
    font-size: 22px;
    line-height: 104%;
    color:var(--text-header-color)
}
#hero-banner{
  width:50%;
}
#hero-banner>img{
  width:100%;
  object-fit: contain;
}

#incredible{
    font-size: var(--xxxl);
    line-height: 100%;
    text-transform: capitalize;
    color:var(--text-header-color);
    margin:0rem auto 2rem;
    border:2px solid #CAA648;
    border-radius: 16px;
    width: fit-content;
    text-align: center;
}

@media screen and (max-width: 1024px){
   .hero-content-header{
    font-size: 48px;
    text-align: center;
   }
   .hero-text-header{
    font-size: 56px;
   }
   .hero-flex{
    width:45%;
   }
   
    #hero-container{
        flex-direction: column-reverse;
    }
    #hero-content,
    #hero-banner{
        width: 100%;
    }
    #hero-rating-container{
        margin: auto;
        border-radius: 12px;
    }
    #hero-content>button{
        margin: auto;
    }
    #incredible{
        font-size: var(--xxl);
        margin-bottom:0rem 1rem 1rem;
    }
    
}
@media screen and (max-width: 1024px){
  #hero-content-flex,
  #hero-rating-container{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   }
}
/* hero-banner-end */

/* elements start */
 #elements-container{
   display: flex;
   gap:1rem;
   justify-content: space-between;
   align-items: center;
 }
 #elements-img-box{
   width:55%;
 }
 #elements-img-box>img{
   width: 100%;
   object-fit: contain;
 }
 #elements-content-container{
   width:40%;
   display: flex;
   gap:1rem;
   flex-direction: column;
 }
#element-header{
  color:var(--heading-color);
  font-size: var(--l);
  line-height: 100%;
  letter-spacing: 2px;
  font-weight: 300;

}
#element-text-header{
    font-size: var(--xxxl);
    line-height: 100%;
    color:var(--text-header-color)
  }
#element-text-description{
  font-size: var(--m);
  line-height: 135%;
  color:var(--text-header-color)
}
#element-text-description>#bold-text{
  font-weight: 700;
}
@media screen and (max-width:768px){
    #elements-container{
        flex-direction: column;
    }
    #elements-img-box{
        width: 100%;
    }
    #elements-img-box>img{
        height: 400px;
    }
    #elements-content-container{
        width: 100%;
    }
    #element-header{
        font-size: var(--l);
    }
    #element-text-header{
        font-size: var(--xxl);
    }
    #element-text-description{
        font-size: var(--sm);
    }
}
/* elements end */

/* guarantee start  */
#guarantee-container{
    display:flex;
    gap:1rem;
    justify-content: start;
    align-items: center;
}
#guarantee-container>p{
    font-size: var(--sm);
    line-height: 100%;
    letter-spacing: 2px;
    color:var(--heading-color);
}
#guarantee-flex{
    display:flex;
    gap:1rem;
    justify-content:space-evenly;
    flex-grow: 1;
    flex-wrap: wrap;
}
.guarantee-flex-box{
    display:flex;
    gap:1rem;
}
.guarantee-img{
    width: 45px;
    height: 45px;
    object-fit: contain;
}
.guarantee-text{
    display:flex;
    flex-direction: column;
}
.guarantee-text-header{
    font-size:var(--m);
    line-height:120%;
    color:var(--text-header-color);
}
.guarantee-text-description{
    color:var(--text-color);
    font-size: var(--xs);
    line-height: 125%;
}


@media screen and (max-width: 768px) {
    #guarantee-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    #guarantee-flex{
        justify-content: start;
    }
}

/* guarantee end */

/* seen in start */
#seen-in-container{
    display: flex;
    gap:6rem;
    justify-content:space-evenly;
    align-items: center;
}
#seen-in-container>h2{
    font-size: var(--l);
    line-height: 140%;
    color:var(--text-header-color);
    font-weight: 700;
}
#seen-in-flex-box{
  display: flex;
  gap:1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
}
.seen-in-images{
    width:fit-content;
    height: 24px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    #seen-in-container{
        gap:1rem;
        flex-wrap: wrap;
        justify-content:center;
    }
    #seen-in-container{
        font-size: var(--m);
    }
    #seen-in-flex-box{
        justify-content: space-evenly;
    }
    .seen-in-images{
        height: 20px;
    }
}
/* seen in end */

/* pdp start */
.mini-pdp-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
    padding: 1rem 0rem;
}
.mini-pdp-left,
.mini-pdp-right{
   display:flex;
   gap:1rem;
   flex-direction: column;
   align-items: start;
   justify-content: start;
   box-sizing: border-box;
   width: 90%;
}
.mini-pdp-left{
    background-color: rgba(250, 248, 249, 0.984);
}
.pdp-main-img{
    width: 100%;
    height: 500px;
}
.main-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
 .mini-img-grid{
    width: 90%;
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(4,120px);
    row-gap: 1rem;
    justify-content: center;
 }
 .mini-img{
    width: 100%;
    height: 120px;
    object-fit: contain;
    border-radius:4px;
    cursor: pointer;
    border:1px solid transparent;
 }
 .mini-img:hover{
   border:1px solid var(--heading-color)
 }
 .arrows-dots-container{
    width: 90%;
    display:flex;
    justify-content: space-between;
    margin:0rem auto;
 }
.pdp-dots-container{ 
    display: flex;
    gap:0.5rem;
 align-items: center;
 justify-content: start;
 width:fit-content;
 margin:auto;
}
.pdp-dots-container .dot{
    cursor: pointer;
}
 .pdp-prev{
    transform: rotate(180deg);
 }

 #pdp-title{
    font-size:var(--xxxl);
    color:var(--text-header-color);
 }
 .review-descrip{
    font-size: var(--xxxs);
    color:var(--text-header-color)
 }
 .stars-container{
    display:flex;
    justify-content: start;
    gap:2px;
    width: fit-content;
}
.stars-container>img{
    width: 12px;
    height: 12px;
    object-fit: contain;
}
.pdp-descrip{
    font-size: var(--sm);
    text-align: justify;
    color:var(--text-header-color)
}
.categories-grid{
    width:100%;
    display:grid;
    grid-template-columns: repeat(3,150px);
    gap:1rem;
    justify-content: start;
    align-items: start;
    margin-bottom: 1rem;
}
.flavour-box{
   border:1px solid #fff;
   background-color: #f9f9f9;
   border-radius:6px;
   box-sizing: border-box;
   padding: 16px;
   display: flex;
   gap:0.5rem;
   flex-direction: column;
}
.flavour-type{
    font-size: var(--xs);
    color:#919798;
    cursor: pointer;
}
.flavour-img>img{
   min-width: 66px;
   height: 110px;
   object-fit: contain;
}
.other-categories{
    width: 100%;
}
.most-popular{
    background: linear-gradient(90deg, #A27533 0%, #FAC568 100%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color:var(--secondary);
    font-size:var(--m);
    line-height: 120%;
    text-align: center;
    padding: 16px;
    font-weight: 700;
}
.subscrip-title,
.discount-price{
    font-size:var(--l);
    color:var(--text-header-color);
}
.subscription-header{
  display: flex;
  width: 100%;
  gap:1rem;
  justify-content: space-between;
  border:1px solid #b8b8b8;
  margin-bottom: 1rem;
  border-radius:6px;
  padding:12px;
  box-sizing: border-box;
}
/* .subscription-container>.subscription-header:nth-child(1){
    border:none;
    border-bottom:1px solid #b8b8b8;
    border-radius: 0px;
} */
.subscrip-left{
    display:flex;
    gap:0.5rem;
    align-items: center;
    justify-content: start;
}
.original-price{
    font-size:var(--l);
    color:#919798;
    text-decoration: line-through;
    margin-left: 0.5rem;
}
.random-text{
    font-size: var(--sm);
    text-align: justify;
    color:var(--text-header-color);
    font-weight: 700;
    margin: 1rem 0rem;
}
.subscrip-types-container{
    display: grid;
    width: 90%;
    gap:1rem;
    grid-template-columns: 1fr 2fr;
    justify-content: start;
    margin-bottom: 2rem;
}
.subscrip-type-container{
    display:flex;
    flex-direction: column;
    gap:1rem;
    justify-content: start;
    align-items: start;
    border:1px solid #919798;
    padding: 16px;
    border-radius:6px;
}
.subscrip-type{
    font-size:var(--sm);
    color:#6f7577;
}
input[type="radio"]{
    cursor: pointer;
    accent-color:var(--heading-color)
}
.subscrip-type>span{
    background: linear-gradient(90deg, #9E6718 0%, #FFB545 100%);
    color: transparent;
    background-clip: text;
    font-weight: 700; 
}
.subscrip-img{
    height: 145px;
    width: 100%;
    object-fit: contain;
}
.subscrip-rules{
    font-size: var(--sm);
    text-align: justify;
    color:var(--text-header-color);
    padding-bottom: 0.5rem;
}
.subscrip-rules>img{
    width: 12px;
    height: 10px;
    object-fit: contain;
    margin-right: 0.5rem;
}

.add-to-cart-btn{
    width:100%;
    background: #667744;
    color:#fff;
    font-size:18px;
    justify-content: center;
}
 
@media screen and (max-width:900px){
    .mini-pdp-container{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        gap:1rem;
        padding: 1rem 0rem;
    }  
}
/* pdp end */

/* certificates start */
#certificates-flex{
    width: 100%;
    display: flex;
  gap:0.5rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.certificates-flex-box{
  display: flex;
  gap:0.5rem;
  align-items: center;
}
.certificate-img{
  width: 44px;
  height: 44px;
  object-fit: contain;
}
.certificate-text{
  font-size: var(--m);
  line-height: 120%;
  color:var(--text-header-color);
}
/*     <!-- certificates end --> */

/* himalayan product start */
#himalayan-header{
    font-size:var(--xxxl);
    line-height: 150%;
    letter-spacing: -1.33px;
    color:var(--text-header-color);
    text-align: center;
 }
 #himalayan-sub-header{
    font-size: var(--xxxs);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;
    color:var(--text-header-color);
    text-align: center;
 }
#himalayan-flex{
  display: flex;
  gap:1rem;
  align-items: center;
}
#himalayan-prod-img{
  width:48%;
}
#himalayan-prod-img>img{
  width:100%;
  object-fit: contain;
}
#himalayan-text-container{
  display: flex;
  flex-direction: column;
  width:52%;
  gap:2rem;
}
#himalayan-content-flex{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    justify-content: space-between;
    align-items: start;
    margin-top: 2rem;
}
.him-content-flex-box{
    display: flex;
    gap:1rem;
    justify-content: space-between;
    align-items: start;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(250, 250, 248, 1);
    padding: 20px 24px;
    flex-basis: 40%;
    height:220px;
    border-radius: 16px;
}
.him-content-img{
    width: 44px;
    height: 44px;
    object-fit: contain;
}
.him-content-text{
    display: flex;
    flex-direction: column;
}
.him-text-header{
    color:var(--text-color);
    font-weight: 700;
    font-size: var(--m);
    line-height: 120%;
}
.him-text-description{
   color: var(--text-color);
   font-size: var(--sm);
   line-height: 140%;
}

@media screen and (max-width: 1200px) {
    #himalayan-content-flex{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    #himalayan-header{
        font-size: var(--xxl);
    }
    #himalayan-flex{
        flex-direction: column;
        margin-top: 1.5rem;
    }
    #himalayan-prod-img{
        width: 100%;
    }
    #himalayan-text-container{
        width: 100%;
    }

}
/* himalayan end */

/* subscribe save start */
#subscription-container{
    width: 100%;
    height: 500px;
    background-size: 100%;
    border-radius: 16px;
    display:flex;
    gap:1rem;
    padding:unset;
    background-image: url("../assets/banners/subscription-banner.jpg");
    background-position: right;
    background-size: cover;
    border:1px solid red;
    background-repeat: no-repeat;
 }
#subscription-content-container{
   width:50%;
   display:flex;
   flex-direction: column;
   gap:1rem;
   align-items: start;
   padding: 3rem 0rem 3rem 3rem;
}

#subscrip-header{
    padding-top: 1rem;
    font-family: oranium;
   font-size: var(--xxxs);
   letter-spacing: 3.1px;
   background: linear-gradient(90deg, #9E6718 0%, #FFB545 100%);
   color: transparent;
   background-clip: text;
   text-transform: uppercase;
} 
#subscrip-sub-header{
    font-size: 42px;
    color: var(--text-header-color);
 }
#subscription-content-flex{
    display:flex;
    gap:1rem;
    align-items: start;
    width: 100%;
    flex-wrap: wrap;
 }
.subscrip-flex-box{
   background-color: #D6D5D5;
   border-radius:18px;
   padding: 8px 16px;
   color:var(--text-header-color);
   font-size:16px;
   text-transform: uppercase;
}
@media screen and (max-width: 1024px){
    #subscription-content-container{
        width:100%;
        padding: 2rem 0rem 2rem 2rem;

    }
    #subscrip-sub-header{
        font-size: var(--xxxl);
    }
}

/* subscribe save end */

/* tutorial start */
.tutorial-container{
    display: flex;
    gap:1rem;
    justify-content: space-between;
    align-items: start;
}
.tutorial-steps{
    width: 60%;
    display: flex;
    gap:1rem;
    flex-direction: column;
    justify-content: start;
}
#tutorial-steps-heading{
   font-size: 40px;
   color:var(--text-header-color)
}
#tutorial-steps-descrip{
    font-size: var(--m);
    color:var(--text-header-color)
 }
#steps-flex{
    display:flex;
    flex-direction: column;
    gap:1rem;
    justify-content: start;
}
.step-container{
    display: flex;
    gap:2rem;
    justify-content: start;
    align-items: start;
}
.step-content{
    display:flex;
    flex-direction: column;
    gap:0.4rem;
    justify-content: flex-start;
}
.step-no{
    font-size: 72px;
    color:var(--text-header-color);
    line-height: 100%;
    opacity: 0.2;
}
.step-title{
    font-size: var(--m);
    background: linear-gradient(90deg, #9E6718 0%, #FFB545 100%);
    color:transparent;
    background-clip: text;
    line-height: 120%;
    font-weight: 700;
}
.step-descrip{
    font-size: var(--xs);
    color:var(--text-color);
    line-height: 120%;
}

.tutorial-video-container{
    width:40%;
    height: 420px
}
.tutorial-video{
    display:none;
    width: 100%;
    height:420px;
    border-radius:16px;
    object-fit: cover;
    transform: 0.3s ease-in-out;
}
.tutorial-video-thumbnail{
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 16px;
    cursor: pointer;
}
@media screen and (max-width: 1024px){
    .tutorial-container{
        flex-direction: column;
    }
    .tutorial-container .primary-button{
        margin:auto
    }
    .tutorial-video-container{
        height: 200px;
        width: 100%;
    }
    .tutorial-steps{
        width: 100%;
    }
    .tutorial-video,.tutorial-video-thumbnail{
        height: 200px;
    }
    #tutorial-steps-heading{
        font-size: var(--xxxl);
     }
     #tutorial-steps-descrip{
         font-size: var(--sm)
     }
}
/* tutorial end */

/* founder video start */
#video-container{
    width:100%;
    height: 514px;
}
.founder-video{
    display:none;
    width: 100%;
    height:514px;
    border-radius:16px;
    object-fit: cover;
    transform: 0.3s ease-in-out;
}
.video-thumbnail{
    width: 100%;
    height: 514px;
    object-fit: cover;
    border-radius: 16px;
    cursor: pointer;
}
#video-content{
    display:flex;
    gap:1rem;
    justify-content: space-between;
    align-items: start;
    margin-top: 2rem;
}
#video-right{
    display:flex;
    gap:1rem;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    margin: 0;
}
#video-title{
    font-size:28px;
    color:var(--text-header-color);
    min-width: fit-content;
  }
#video-description{
  font-size:var(--m);
  color:var(--text-header-color);
  width: 60%;
}
@media screen and (max-width: 768px){
    #video-content{
        flex-direction: column;
    }
    #video-container{
        height: 200px;
    }
    .founder-video,.video-thumbnail{
        height: 200px;
    }
    #video-title{
        font-size:var(--xxl);
    }
    #video-description{
        font-size:var(--sm);
    }
}
/* founder video end */

/* percentage start */
  
#percentage-bg-wrapper{
    width: 100%;
    background-image: url("../assets/banners/percentage-banner.jpg");
    background-size: cover;
    height:300px;
    background-position: center;
}
#percentage-bg{
   background-color: #00000041;
   width: 100%;
   height: 100%;
   display:flex;
   justify-content: center;
   align-items: center;
}
.percentage-grid{
    width: 100%;
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(4,1fr);
    justify-content:space-between;
    align-items: start;
    margin: auto;
}
.percentage-container{
  display:flex;
  flex-direction: column;
  gap:0.5rem;
  justify-content: start;
  align-items: start;
  
}
.percentage{
  color:var(--secondary);
  font-size: 40px;
  font-weight: 700;
}
.percentage-container>span{
    padding-top:4px;
}
.percentage-descrip{
  font-size: var(--sm);
  color:var(--secondary)
}

@media screen and (max-width:768px){
    .percentage-grid{
        grid-template-columns: repeat(2,1fr);
    }
}

/* percentage end */

/* customers reviews start */
.reviews-bg-wrapper{
   background-color:  #B8B8B8CC;
   width: 100%;
   padding: 2rem 0rem 1rem;
   margin-bottom: 1rem;
}

#customer-header-and-arrows{
    display: flex;
    gap:2rem;
    align-items: center;
    justify-content:space-between;
}

#customer-heading{
    font-size:28px;
    color:var(--text-header-color);
}
#customer-descrip{
    font-size:var(--sm);
    color:var(--text-header-color);
    line-height: 120%;
}
#arrows-container{
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content: start;
}
.arrow{
    width: fit-content;
    height: fit-content;
   border:1px solid #666;
   border-radius:50%;
   padding:6px 8px 4px 10px;
   cursor: pointer;
}
.arrow>img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    padding-top: 2px;
}
.prev{
    transform: rotate(180deg);
}
.next{
    background:#666;
}
#reviews-container{
    margin: 2rem auto;
    display: flex;
    width:100%;
    gap:2.2rem;
    justify-content: start;
    align-items: start;
    overflow: hidden;
}
.review-box{
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: start;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(250, 250, 248, 1);
    border-radius: 6px;
    min-width:28%;
    max-width:28%;
    padding:32px 20px
}
.stars-box{
    display: flex;
    gap:0.2rem;
    align-items: center;
    justify-content: start;
    width:fit-content
}
.star{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.review{
 font-size: var(--xs);
 line-height: 120%;
 color:var(--text-header-color);
 display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
.reviewer-profile{
 display: flex;
 gap:1rem;
 align-items: center;
 justify-content: start;
}
.profile{
  background-color: var(--text-header-color);
  opacity: 0.2;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.profile-icon{
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}
.profile-data{
  display:flex;
  flex-direction: column;
  align-items: start;
}
.profile-name{
    font-size:var(--xxs);
    color:var(--text-color)
}
.profile-descrip{
    font-size:var(--xxxs);
    color:var(--text-color)
}
.dots-container{
    display: flex;
    gap:0.5rem;
 align-items: center;
 justify-content: start;
 width:fit-content;
 margin:auto;
}
.dot{
    width: 4px;
    height: 4px;
    border-radius:50%;
    border:1px solid #666;
}

#reviews-container-mobile{
    display: none;
}

@media screen and (max-width: 1024px){
    #reviews-container,
    .dots-container,
    #arrows-container{
        display: none;
    }
    #reviews-container-mobile{
        margin: 2rem auto 0rem;
        display: flex;
        width:100%;
        gap:2rem;
        justify-content: start;
        align-items: start;
        overflow-x:scroll;
    }
    .review-box{
        min-width: 280px;
        max-width: 280px;
    }
    #customer-heading,
    #customer-descrip{
        text-align: center;
    }
}
/* customers reviews end */

/* faq start */
#faq-container{
    width:100%;
    display:flex;
    gap:2rem;
    align-items: start;
    justify-content: space-between;
}
#faq-left-container{
   width:40%;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: start;
   gap:2rem
}
#faq-header{
    font-size:var(--l);
    line-height: 100%;
    color:var(--text-header-color)
}
#faq-description{
    font-size:var(--m);
    line-height: 150%;
    color:var(--text-header-color)
}
#faq-right-container{
    width:60%;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.faq{
    display:flex;
    flex-direction: column;
    width:100%;
}
.faq-question-plus{
    display:flex;
    gap:1rem;
    align-items:start;
    justify-content: space-between;
    padding:20px 24px;
    border-bottom: 1px solid var(--text-header-color);
    cursor:pointer;
    transition: 0.3s ease;
}
.faq-question{
   font-size: var(--m);
   color:var(--text-header-color);
   line-height: 150%;
}
.faq-question:hover{
    font-weight: 500;
}
.faq-symbol{
   height: 24px;
   width: 24px;
   object-fit: contain;
}

.faq-answer{
    font-size: var(--sm);
    color:var(--text-color);
    line-height: 120%;
    display:none;
    padding:20px 24px;
    transition: 0.3s ease;
}

.faq-button{
    background: none;
    margin: 1rem auto;
    gap:unset;
}
.faq-button>img{
    width: 40px;
}

@media screen and (max-width:768px){
    #faq-container{
        flex-direction: column;
    }
    #faq-left-container{
        width:100%;
        gap:1.5rem
    }
    #faq-right-container{
        width:100%;
    }
    .faq-question-plus,
    .faq-answer{
        padding: 12px;
    }
    .faq-symbol{
        height: 20px;
        width: 20px;
     }
}

/* faq end */

/* signup start */
#signup-banner-wrapper{
    background-image: url("../assets/banners/signup-banner.jpg");
    background-size: cover;
    height:600px;
    background-position: center;
    border-radius: 1rem;
}
#signup-content{
  max-width:1000px;
  width:100%;
  margin:3rem auto;
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
  align-items: center;
}
#signup-header{
  font-size: 42px;
  line-height: 100%;
  color: var(--secondary);
  text-align: center;
}
#signup-description{
  color: var(--secondary);
  font-size: var(--m);
  line-height: 150%;
}
#signup-email-btn{
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    align-items: center;
    width:100%;
}
#signup-email-btn>input[type="text"]{
  height: 48px;
  border:1px solid var(--secondary);
  padding:0px 12px;
  font-size: var(--sm);
  background: none;
  width: 50%;
}
#signup-btn{
   height: 34px;
   border:1px solid var(--secondary);
   font-size: var(--m);
   line-height: 120%;
   padding: 12px 24px;
   color:#667744;
   background: var(--secondary);
}
#signup-btn{
    color:#667744;
}
#signup-btn>img{
    filter:contrast(0.2)
}

@media screen and (max-width: 768px){
    #signup-banner-wrapper{
        border-radius: 0.5rem;
        height: 400px;
    }
    #signup-content{
        margin: 1.5rem auto;
        gap:1rem;
    }
    #signup-header{
        font-size: 30px;
    }
    #signup-description{
        font-size: var(--xs);
    }
    #signup-email-btn>input[type="text"]{
        width: 80%;
    }
    #signup-btn{
        height: 40px;
    }
      
}
/* signup end */

/* footer start */
#footer{
    background-color: var(--text-header-color);
    width:100%;
    padding: 2rem 3rem;
    margin: auto;
    box-sizing: border-box;
}
#footer-logo{
    height: 56px;
    width: 320px;
    object-fit: contain;
}
#footer-flex-container{
    display:flex;
    width:100%;
    max-width:1360px;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    margin: 2rem 0rem ;
    font-family: oxanium;
}
.footer-links-container{
    width: 58%;
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    align-items: start;
    font-weight: 300;
}
.footer-social-link{
    min-width: 30%;
    font-size: var(--xs);
    line-height: 150%;
    color:var(--secondary);
    display: flex;
    gap:0.2rem;
    align-items: start;
    font-weight: 300;
}
.footer-link{
    min-width: 30%;
    font-size: var(--xs);
    line-height: 150%;
    color:var(--secondary);
}
.footer-social-icon{
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.footer-link:hover,
.footer-social-link:hover{
    font-weight: 500;
}
#footer-subscribe-container{
    width:42%;
    font-family: oxanium;
}
#footer-subscribe-header{
    font-size: var(--sm);
    font-weight: 700;
    line-height: 150%;
    color:#DEA453;
}
#footer-subscribe-desc{
    font-family: oxanium;
    font-size: var(--xxxs);
    line-height: 150%;
    color:var(--secondary)
}
#footer-subscribe-desc>a{
    color:var(--secondary);
    text-decoration: underline;
}
#footer-subscribe-email-btn{
    display: flex;
    gap:1rem;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0rem;
}
#footer-subscribe-email-btn>input[type="text"]{
  width:100%;
  height: 48px;
  border:1px solid var(--secondary);
  padding:0px 12px;
  font-family: oxanium;
  font-size: var(--sm);
}
#footer-subscribe-btn{
   height: 48px;
   border:1px solid var(--secondary);
   background-color:var(--secondary);
   font-size: var(--sm);
   line-height: 150%;
   border-radius: 1px;
   padding: 12px 24px;
   color:#DEA453;
}
#copy-right{
    color:#DEA453;
    font-size: var(--sm);
    line-height: 120%;
    font-family: oxanium;
    text-transform: uppercase;
}

@media screen and (max-width:1064px) and (min-width:768px) {
    .footer-links-container{
        gap:0.5rem;
    }
    .footer-social-link,
    .footer-link{
      min-width:30%
    }
    #footer-subscribe-email-btn{
        flex-direction: column;
    }
}
@media screen and (max-width:768px) {
    #footer{
        padding: 1.5rem;
    }
    #footer-logo{
        width: 200px;
    }
    #footer-flex-container{
        flex-direction: column;
        margin: 1rem 0rem;
    }
    .footer-links-container{
        gap:0.5rem;
    }
    .footer-links-container,
    #footer-subscribe-container{
        width:100%;
    }
    .footer-social-link,
    .footer-link{
      min-width:30%
    }
    #footer-subscribe-header{
        font-size: var(--xs);
    }
    #footer-subscribe-email-btn{
        margin: 0.8rem 0rem;
    }
    #footer-subscribe-email-btn>input[type="text"]{
        height: 40px;
    }
    #footer-subscribe-btn{
        height: 40px;
        padding: 8px 12px;
    }
    #copy-right{
        font-size: var(--xs);
    }
    
}
/* footer end */