body,p,h1{
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
}
header{
    width:100%;
    padding:2px 6px;
    background:rgba(156, 155, 155, 0.156);
}
.title{
   color:rgb(210, 30, 60);
   text-align: center;
}

.container{
    width: fit-content;
    padding:12px;
    margin: 2rem auto;
}
/* inputs grid css start */
.inputs_grid{
    width: fit-content;
   display: grid;
   grid-template-columns:repeat(2,auto);
   gap:12px;
   margin-bottom: 2rem;
}
.input_label{
    color:#333;
    font-size: 18px;
    font-weight: 600;
}
.input_field{
    width:300px;
    padding: 4px;
    font-size: 14px;
    margin-top: 12px;
}
.input_field:focus,
.input_field:active{
    border:1px solid rgba(0, 81, 255, 0.8);
    outline-width: 0px;
}
.input_field:disabled:active,
.input_field:disabled:focus{
    border:1px solid lightgray
}
.input_error{
    border:1px solid rgba(226, 7, 7, 0.773);
}
.error{
    font-size: 12px;
    color:rgba(226, 7, 7, 0.773);
    margin: 0;
}

/* inputs grid css end */

/* wall visualization css */
.wall_data_container{
    width:100%;
    height:400px;
    border:1px solid grey;
    background-size: 25px 25px;
    background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
    display:none;
}
.graph_container {
     width: 1000px;
     height: 400px;
     position:relative;
     margin-bottom: 1rem; 

  }
  .bar_chart_container{
    position:absolute;
    left:75px;
    top:50px;
    width:50%;
  }
  .bar_chart{
    width:100%;
    --line-count: 10;
    --line-color: transparent;
    --item-gap: 25px;
  
    
    height: 250px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(1,25px);
    gap: var(--item-gap);
    align-items: end;
    padding-inline: var(--item-gap);
    --padding-block: 25px; /*space for labels*/
    padding-block: var(--padding-block);
    position: relative;
    isolation: isolate;
  }
  
  .bar_chart::after{
    content: "";
    position: absolute;
    inset: var(--padding-block) 0;
    z-index: -1;
    --line-width: 1px;
    --line-count:10;
    --line-spacing: calc(100% / var(--line-count));
    background-image: repeating-linear-gradient(to top, transparent 0 calc(var(--line-spacing) - var(--line-width)), var(--line-color) 0 var(--line-spacing)),
    repeating-linear-gradient(to bottom, transparent 0 calc(var(--line-spacing) - var(--line-width)), var(--line-color) 0 var(--line-spacing));
    box-shadow: 0 var(--line-width) 0 var(--line-color);
  }
  .bar_chart > .item{
    width:25px;
    height: 0;
    background-color: #222;
    position: relative;
    animation: item-height 1s ease forwards
  }
  @keyframes item-height { from { height: 0 } }
  
  .bar_chart > .item > * { position: absolute; text-align: center }
  .bar_chart > .item > .label { inset: 100% 0 auto 0 }
  .bar_chart > .item > .value { inset: auto 0 100% 0 }
      
/* person figure css */

.person_figure{
  position: relative;
  width:fit-content;
  height:140px;
}
.person_left{
    position: absolute;
    top:50%;
    left:10px;
}
.person_right{
    position: absolute;
    top:50%;
    right:50px;
}
.person_head{
    border:1px solid transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 81, 255);
}
.left_hand,
.right_hand{
  width: 1px;
  height: 25px;
  background-color: rgb(0, 81, 255);
  position: absolute;
  transform: translateX(-32%);
  top:60px;
}
.left_hand{
    left:32%;
    rotate: 45deg;
}
.right_hand{
  right:32%;
  rotate:135deg;
}
.main_body{
    width: 1px;
    height: 75px;
    background-color: rgb(0, 81, 255);
    position: absolute;
    top: 52px;
    left:50%;
    transform: translateX(-50%);
}
.visible_count{
    width:100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
/* visibility data css */
.visibility_data_flex{
    width:fit-content;
    padding-left: 50px;
    display:flex;
    gap:100px;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
}